@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*navigation bar beginning*/

header{ 
    font-family: 'poppins', sans-serif;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    align-items: center;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-top: 40px;

}


.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-right: 20px;
  outline: none;
  overflow: visible;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.but{
     margin-right: 110px;
}

h1{
  color: #fff;
  font-weight: bolder; 

}

.head-text{

  display: flex;
  padding-left: 20px;
  padding-right: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 200px;
  margin-left: 50px;
  border-radius: 25px;
  background-color:  #1899d6;
  box-shadow: 0px 5px #1CB0F6;
}

.title{

  margin-left: 175px;

}

nav .header-right{
     text-decoration: none;
     margin-right: 20px;
     font-weight:800;

}

li{
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

a{
      
    font-size: 18px;
    color: #fff;  
    text-decoration: none; 
}

/*navigation bar end*/

/*section for header beginning*/

.section{
    flex-wrap: wrap ;
    color:#fff;
    font-size: 20px;
    margin-right: 700px;
    padding-top: 100px;
}

.para{
    display: flex;
    color: rgba(255, 255, 255, 0.817);
    padding-top: 25px;
    margin-left: 175px;
    font-weight: bold;
}

.button-43 {
  display: flex ;
  margin-left: 175px;
  margin-top: 30px;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

/* content of the page begins here */

h2{
  font-family: 'poppins', sans-serif;
  font-size: xx-large;
  color: black;
  font-weight: bolder;
  margin-right: 50px;
}

section{

  flex-direction: column;
  color: black;
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: center;

}

.text{
  display: flex;
  justify-content: center;
}

.box{
  /* display: table; */
  display: flexbox;
  flex-direction: column;
  justify-content: center;
}
.box1{

  
  margin-top: 100px;
  margin-right: 60px;
  margin-left: 300px;
  display: inline-block;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 70px;
  color: black;
  border-style: solid;
}

.box2{
  flex-direction: row;
  margin-top: 100px;
  margin-right: 60px;
  display: inline-block;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 70px;
  color: black;
  border-style: solid;
}

.box3{
  flex-direction: row;
  margin-top: 100px;
  margin-right: 60px;
  display: inline-block;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 70px;
  color: black;
  border-style: solid;
}

.box4{
  flex-direction: row;
  margin-top: 100px;
  margin-right: 100px;
  display: inline-block;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 70px;
  color: black;
  border-style: solid;
}