@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/*navigation bar beginning*/

/* Styling for the header */

header{ 
    background-color: #1f2937;
    flex-direction: column;
}

/* Style for navigation bar */

.navbar{
  
  display: flex;
  color: black;
  background-color: #1f2937;
  padding: 50px 100px 0px 150px;
  align-items: center;
  
  
}

.head-text{

  margin-right:auto; 
  padding: 10px 100px 10px 10px;
  border-radius: 25px;
  background-color:  #1899d6;
  box-shadow: 0px 5px #1CB0F6;

}

.header-right a{
    
  padding: 10px;
  text-decoration: none; 
  font-size: 18px;
  color: black;

}


/*navigation bar end*/

/*section for header beginning*/

.head{
   
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 0px;

}

.head-body{

    flex-basis: 550px;
    flex-direction: column;
    color:#fff;
    text-align:left ;

}

.head-img img{
  margin-left: 100px;
  width: 500px;
  height: 350px;
  border-radius: .5rem;

}


/* spacing between head body elements */

.title{

  padding-bottom: 25px;
  font-size: 20px;
}

.para{

  padding-bottom: 25px;
  font-size: 20px;
}



/* content of the page begins here */

section{

  color: black;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

}

.text{

  font-family: 'poppins', sans-serif;
  font-size: 25px;
  font-weight: extra-bold;
  color: black;
  font-weight: bolder;
  margin-right: 50px;
  display: flex;
  justify-content: center;

}

.box{

  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-align: center;
  
}

.box img{

  width: 170px;
  height: 170px;
  object-fit: cover;
  color: rgb(19, 124, 215);
  border-style: solid;
  margin: 5px 20px 0px 20px;
  border-radius: 1rem;
}


/* section2 of the website */

.section2{

  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 250px;
}

.section2 h1{

  line-height: 2;
  font-style: italic;
  
}

.section2 h2{

  text-align: right;
  padding-right: 50px;
  font-style: italic;
  font-weight: extra-bold;
}



/* Third section of the website  */

.section3{

  padding: 100px 200px 100px 200px;
  
}

.text-part{

  display: flex;
  padding: 10px;
  background-color: #3882f6;
  border-radius: 0.5rem;

}

.text-in{
  margin-right: auto;
  color: #fff;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.but{
  padding-right: 160px;
  padding-top: 60px;
  padding-left: 60px;
}

.text-in h1{
  font-size: 30px;
  font-weight: bolder;
  
}


/* Fourth section of the website */

.section4{
   
  background-color: #1f2937;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px ;
}

.copy-text{

  color: #fff;
  font-size: 10px;

}


/* Code for buttons */

/* Button for community */

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 0px;
  color: black;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-right: 0px;
  outline: none;
  overflow: visible;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

/* button for sign-up */

.button-43 {
  display: flex ;
  margin-left: 175px;
  margin-top: 30px;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}


/* The last sign up button design */

.button-1 {
  appearance: button;
  background-color: #3882f6;
  border: solid;
  border-radius: 16px;
  border-width: 4px;
  color: white;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-right: 0px;
  outline: none;
  overflow: visible;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-style: solid;
  border-color: white;
}

.button-1:after {
  background-clip: padding-box;
  background-color: #3882f6;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  border-width: 4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-1:main,
.button-1:focus {
  user-select: auto;
}

.button-1:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-1:disabled {
  cursor: auto;
}