@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/*navigation bar beginning*/

/* Styling for the header */

header{ 
    background-color: #1f2937;
}

/* Style for navigation bar */

.navbar{
  
  color: black;
  background-color: #1f2937;
  display: flex;
  padding: 50px 100px 0px 150px;
  align-items: center;
  
  
}

.head-text{

  margin-right:auto; 
  padding: 10px 50px 10px 10px;
  border-radius: 25px;
  background-color:  #1899d6;
  box-shadow: 0px 5px #1CB0F6;

}

.header-right a{
    
  padding: 10px;
  text-decoration: none; 
  font-size: 18px;
  color: black;

}

/*navigation bar end*/

/*section for header beginning*/

.section{
    display: flex;
    flex-wrap: wrap ;
    color:#fff;
    font-size: 20px;
    margin-right: 700px;
    padding-top: 100px;
}

.para{
    display: flex;
    color: rgba(255, 255, 255, 0.817);
    padding-top: 25px;
    margin-left: 175px;
    font-weight: bold;
}

/* content of the page begins here */

h2{
  font-family: 'poppins', sans-serif;
  font-size: xx-large;
  color: black;
  font-weight: bolder;
  margin-right: 50px;
}

.text{

  display: flex;
  justify-content: center;

}

section{

  color: black;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box img{

  width: 170px;
  height: 170px;
  object-fit: cover;
  color: black;
  border-style: solid;
  margin: 5px 20px 0px 20px;
}

.under-img{
  display: inline-block;
}









/* Code for buttons */

/* Button for community */

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 0px;
  color: black;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-right: 0px;
  outline: none;
  overflow: visible;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

/* button for sign-up */

.button-43 {
  display: flex ;
  margin-left: 175px;
  margin-top: 30px;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}